/java/jGraphT/grafos/build/
/java/Jung/nbproject/private/
/java/jGraphT_V2/grafos/nbproject/private/
/java/jGraphT_V2/grafos/build/

desktop.ini
/java/jGraphT_V2/poo/nbproject/private/
/java/jGraphT_V2/poo/build/
/swap_solver_v1/nbproject/
/swap_solver_v1/target
